<!-- SCSS FILE: _account-settings.scss -->


<div id="account-settings">

<h2 class="text-center">THIS IS ACCOUNT SETTINGS (LOGGED IN) </h2>

<p>Where can update all their settings: username, password, email plus delete account</p>
<p><strong>FUNCTIONALITY NOT A HUGE PRIORTIY AS WE WON'T BE DEMOING</strong></p>

</div>