<!-- SCSS FILE: _account-settings.scss -->

<h1>THIS IS ACCOUNT SETTINGS (LOGGED IN) </h1>

<p>Where can update all their settings: username, password, email plus delete account</p>
<p><strong>FUNCTIONALITY NOT A HUGE PRIORTIY AS WE WON'T BE DEMOING</strong></p>


<div class="line"></div>