<!-- SCSS FILE: _add-resource.scss -->





<head>
  <!--  Ionicons-->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>





<h1>THIS IS ADD RESOURCE (LOGGED IN)</h1>

<h3>This is add a resource</h3>

<p>found in partial /view/partials/_add-resource</p>
<p>Where user can add resource definining title, description, url, title</p>

<form method="POST" action="/resources">

  <div class="form-group">
    <label>TITLE</label>
    <input type="title" class="form-control" aria-describedby="emailHelp"
      placeholder="Title" name="title">
  </div>

  <div class="form-group">
    <label>URL</label>
    <input type="url" class="form-control" aria-describedby="emailHelp"
      placeholder="Enter url" name="url">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">DESCRIPTION</label>
    <input type="description" class="form-control" aria-describedby="emailHelp"
      placeholder="Enter description" name="description]">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="line"></div>