<!-- SCSS FILE: _all collections.scss -->


<h2 class="text-center">Curated Collections</h2>
<p class="lead text-center">Find. Collect. Share.</p>


<div class="line"></div>


<div class="py-5">
   
  
  <div class="container" id="resources-container">
      <div class="row hidden-md-up">
        <div class="col-md-4">

          <div class="card" style="width: 18rem;">

          </div>

        </div>



       
      </div>
    </div>
  </div>