<!-- SCSS FILE: _manage-resource.scss -->

<h1>THIS IS MANAGE RESOURCE PARTIAL</h1>

<h3>This is manage a resource</h3>

<p>found in partial /view/partials/_manage-collections</p>

<form>

  <button type="submit" class="btn btn-primary">EDIT</button>
  <button type="submit" class="btn btn-primary">DELETE</button>

</form>

<div class="line"></div>