<!-- SCSS FILE: _manage-resource.scss -->
<div id="manage-resource">

    <div class="line"></div>
  
  
  <h2 class="text-center">Manage a Resource</h2>

<form>

  <button type="submit" class="btn btn-primary">EDIT</button>
  <button type="submit" class="btn btn-primary">DELETE</button>

</form>

<div class="line"></div>