<!-- SCSS FILE: _resource-detail.scss -->

<h1>THIS IS RESOURCE DETAIL TEMPLATE</h1>
<h4>When NOT logged in: NO COMMENTS</h4>
<h4>When logged in: NO COMMENTS</h4>

<p>This will be the template we map a RESOURCE against and will be displayed on both the homepage and in the user's
  collection</p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
      card's content.</p>
    <a href="#popup1">See Details </a>
    <a href="#" class="card-link">Visit Site</a>
  </div>
</div>


<!-- NOTE EVERYTHING THAT IS IN POPUP1 WILL BE WHAT POPS UP-->



<div id="popup1" class="overlay">
  <div class="popup">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>



    <a class="close" href="#">&times;</a>
    <div class="content">

      <h5>USER CAN ONLY ADD COMMENTS WHEN LOGGED IN</h5>


      <h5>Comments</h5>

      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta nulla turpis.</h6>


      <h5>Comments</h5>

      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta nulla turpis.</h6>

    </div>
  </div>
</div>

<div class="line"></div>