<nav id="sidebar" class="active">
  <ul class="list-unstyled components">
    <% if(!id){ %>
  <div class="login-forms">
    <p class="account-prompt-text">Existing user?</p>
    <form method="POST" action="/api/users/login">
    <div class="form-group">
      
          <input type="email" class="form-control prompt email-form" aria-describedby="emailHelp"
            placeholder="Enter email">

        </div>
        <div class="form-group">
         
          <input type="password" class="form-control prompt" placeholder="Enter password" name="id">
       
        </div>
        <button type="submit" class="btn btn-primary btn-block login-button">Login</button>
      </form>

      <p p class ="password-help">Forgotten your password? Click here</p>

      
    </form>

    <div class="create-account">

      <p class="account-prompt-text">Not already a user?</p>

      <button type="submit" class="btn btn-primary btn-block btn-secondary create-account-button">Create Account</button>
      

    </div>


    

      <% } else { %>
        
    

        <div class="logged-in">

    
  

      <li>

          <a href="#" class="user-options">Create Resource</a>
          
          <a href="#" class="user-options">View Collections</a>
          <a href="#" class="user-options">Manage Account</a>

      </form>
  
      <div class="create-account">
  
        <form method="POST" action="api/users/logout">
        <button type="submit" class="btn btn-warning btn-block btn-secondary create-account-button">Logout</button>
       </form>
        
  
      </div>


        </div>

  
     
      <% } %>
      
    </ul>

  </nav>