<h1>THIS IS USER COLLECTIONS PARTIAL (LOGGED IN)</h1>

<p>When user logs in, this is their "home page" where they can see all their collections</p>

<div id="my-resources-container">
  
</div>


<div class="line"></div>