
<div class="my-resources-header">


<div class="user-header">
<h2>Your Collections</h2>

</div>

</div>



<div id="my-resources-container" class="flex-container">
  

    <div class="card">
        <h5 class="card-title">Sample Card Title</h5>
        <p class="card-text">Here's some sample card text. This is what will be filled in as description.</p>
        <div class="card-footer">
        <a class="visit-site" href="#">Visit Site</a>
        <a class="more-details" href="#">More Details</a>
        </div>
    </div>

</div>
  
</div>

