<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <h1>Body Header</h1>
    </header>

    <main>
      <div class="row">
      <div class="col-sm" id="hiddenColumn">
        <h2>SideNav</h2>
      </div>
      <div class="col-sm" id="column1">
        One
      </div>
      <div class="col-sm" id = 'column2'>
        Two
      </div>
      <div class="col-sm" id= 'column3'>
        Three
      </div>
    </main>
  </div>




  </body>
</html>
