<!DOCTYPE html>
<html lang="en">

<head>

  <!-- ALL SCRIPTS, STYLESHEETS ETC. -->
  <% include ./partials/_scripts %>

  <title>Resource Manager</title>

</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Holder -->

      <div id="sliding-sidebar">
        <% include ./partials/_sliding-sidebar %>
      </div>

    <!-- Page Content Holder -->
    <div id="content" style="margin: 0 auto">

        <div id="top-nav">
            <% include ./partials/_nav-bar %>
      </div>

    <!-- ========  LOGGED IN STATE ========  -->

        <% if(id){ %>

          <h1> YOU LOGGED IN!</h1>
          <div id="user-collections">
              <% include ./partials/_user-collections %>
            </div>
      
          <div id="account-settings">
              <% include ./partials/_account-settings %>
            </div>
      
          <div id="add-resource">
              <% include ./partials/_add-resource %>
            </div>
      
          <div id="manage-resources">
              <% include ./partials/_manage-resource %>
            </div>


      <% } %>

    <!-- ========  LOGGED OUT STATE ======== -->

 

        <h1> YOU NEED TO LOG IN</h1>
        <div id="all-collections">
            <% include ./partials/_all-collections %>
      </div>


      <div id="resource-detail">
        <% include ./partials/_resource-detail %>
      </div>

    







  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>


</body>

</html>