<!DOCTYPE html>
<html lang="en">

<head>

  <!-- ALL SCRIPTS, STYLESHEETS ETC. -->
  <% include ./partials/_scripts %>

  <title>Resource Manager</title>

</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Holder -->

      <div id="sliding-sidebar">
        <% include ./partials/_sliding-sidebar %>
      </div>

    <!-- Page Content Holder -->
    <div id="content" style="margin: 0 auto">

        <div id="top-nav">
            <% include ./partials/_nav-bar %>
      </div>

    <!-- ========  LOGGED IN STATE ========  -->

    <div class=flex-container"> 

        <div class="container">
            <div class="row">
       
              <div class="col">
                  <div class=“search-container”>
                      <form class=“form-group” action=“/api/resources/search” method=“GET”>
                        <input type=“search” name=“query” placeholder="What would you like to learn about?" class="form-control form-control-lg" >
                        <button type=“submit” class="btn btn-outline-primary">
                            <span>Search</span>
                        </button>
                      </form>
                    </div>
              </div>
          
            </div>
          </div>

 
    
        <% if(id){ %>

          <div id="add-resource">
              <% include ./partials/_add-resource %>
            </div>

          <div id="user-collections">
              <% include ./partials/_user-collections %>
            </div>
      
          <div id="account-settings">
              <% include ./partials/_account-settings %>
            </div>
      
          <div id="manage-resources">
              <% include ./partials/_manage-resource %>
            </div>


      <% } %>

    <!-- ========  LOGGED OUT STATE ======== -->

 

        
        <div id="all-collections">
            <% include ./partials/_all-collections %>
      </div>


    </div>



      




    







  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>


</body>

</html>