<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ALL SCRIPTS, STYLESHEETS ETC. -->
    <% include ./partials/_scripts %>

  <title>View Your Resource</title>

</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <div id="sliding-sidebar">
      <% include ./partials/_sliding-sidebar %>
    </div>

    <!-- Page Content Holder -->
    <div id="content" style="margin: 0 auto; width:100%">
    <!-- <div id="resource-content"> -->

        <div id="top-nav">
            <% include ./partials/_nav-bar %>
        </div>


      <!-- Page Content Holder -->
        <div class="row">
            <div class="col">
              
      


            </div>


            <div class="col">
       
            </div>
         
         
         
          </div>


    







    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
 
  </body>
</html>
