
  <% include ./Partials/head %>

  <body>
    <div class="container">
      <header>
          <h1>Body Header</h1>
      </header>
      <main class="container">
          <div class="row">
          <div class="col-sm" id="hiddenColumn">
              <h2>SideNav</h2>
          </div>
          
          <div class="col-sm" id="column1">
              One
          </div>
          <div class="col-sm" id = 'column2'>
              Two
          </div>
          <div class="col-sm" id= 'column3'>
              Three
          </div>
      </main>
    </div>
  </body>
</html>