/* Colors */

$jet: #312f2f;
$platinum: #dee5e5;
$light-blue: #a6d9f7;
$pale-aqua: #bccce0;
$middle-blue-green: #84dccf;
$awesome: #ff1053;

/* Fonts */

$primary-font: 'Roboto', sans-serif;

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}
