// COLOR PALETTE FOR REFENCE:

// $jet: #312F2F;
// $platinum: #DEE5E5;
// $light-blue: #A6D9F7;
// $pale-aqua: #BCCCE0;
// $middle-blue-green: #84DCCF;
// $awesome: #FF1053;
.resource-page-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

.resource-title {
	line-height: 1;
	padding: 0;
	margin-bottom: 10px;
	margin: 0;
	color: $jet;
}

.created-by {
	padding-top: 2px;
	font-size: 14px;
}

.resource-url {
	margin-top: 10px;
	font-weight: 300;
	margin-bottom: 12px;
}
.hack {
	margin-top: 50px;
}

.commentForm {
	width: 100%;
	height: 100px;
	text-align: top;
	padding-bottom: 10px;
	text-align: top;
}

.comment-prompt {
	font-size: 1.5mv;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

.size-box {
	margin-right: 40px;
}

.resource-content {
	margin: 0 auto;
	width: 100%;
}

 #comment-box {
  

 }