// COLOR PALETTE FOR REFENCE:

// $jet: #312F2F;
// $platinum: #DEE5E5;
// $light-blue: #A6D9F7;
// $pale-aqua: #BCCCE0;
// $middle-blue-green: #84DCCF;
// $awesome: #FF1053;

#my-resources-container {
	width: 80%;
	margin: 10px auto 40px auto;
}

.my-resources-header {
	margin: 100px auto 10px auto;
	width: 80%;
}

.my-resources-header {
	.user-header h2 {
		text-align: center;
		font-size: 3mv;
	}
}
